<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="base.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC_AWS_LOGS"/>
        </root>
        <logger level="DEBUG" name="org.hibernate.SQL">
            <appender-ref ref="FILE"/>
        </logger>
        <logger level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC_AWS_LOGS"/>
        </root>
    </springProfile>
</configuration>
