name: CI from sub feature branches

on:
  #pull_request_review_comment:
  pull_request:
    types: [ opened, reopened ]

env:
  ACTIVE_PROFILE: dev

jobs:
  build-dev:

    #빌드 되는지 확인
    name: Build-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      # Link Check
      - name: ktlint
        uses: ScaCap/action-ktlint@master
        with:
          github_token: ${{ secrets.git_hub_token }}
          reporter: github-pr-check # Change report

      # 환경변수 .env 파일 생성 및 write
      - name: Set .env for configuration
        run: |
          touch ./.env
          echo "SPRING_DATASOURCE_USERNAME=${{ secrets.DB_USERNAME }}" >> ./.env
          echo "SPRING_DATASOURCE_PASSWORD=${{ secrets.DB_PASSWORD }}" >> ./.env
        #          echo "SPRING_PROFILES_ACTIVE=${{ env.ACTIVE_PROFILE }}" >> ./.env
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 빌드 클린 후 테스트 진행
      - name: Build and test
        run: |
          ./gradlew clean build
          ./gradlew test

      # test 결과 업로드
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: build/test-results

      - name: Auto-Merge PR
        run: |
          PR_NUMBER="${{ github.event.pull_request.number }}"
          GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}"
          curl -X PUT \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER/merge"

  slack_noti:
    name: Slack_notification
    runs-on: ubuntu-latest
    needs: build-dev
    steps:
        - name: action-slack
          uses: 8398a7/action-slack@v3
          with:
            status: ${{ job.status }}
            author_name: www-be
            fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
            if_mention: failure,cancelled
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
          if: always() # Pick up events even if the job fails or is canceled.
